<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drawful clone</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0;"
    />
    <link href="/main.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
      integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
      crossorigin="anonymous"
    ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/4.2.0/fabric.min.js"></script>
  </head>
  <body class="h-100 w-100">
    <b-container id="app" class="d-flex flex-column pt-2 pb-2 h-100" v-cloak>
      <b-alert show variant="success" v-if="page !== 'set-name'" class="d-flex justify-content-between">
        <span id="name-display">{{ state.name }}</span>
        <b-button @click="editName = true" v-if="page !== 'ingame'">Edit name</b-button>
      </b-alert>
      <template id="page-set-name" v-else>
        <b-form-group label="Name">
          <b-form-input name="name" v-model="name"></b-form-input>
        </b-form-group>
        <b-button id="set-name-button" class="mb-2" @click="setName" variant="primary">Set name</b-button>
      </template>
      <template id="page-landing" v-if="page === 'landing'">
        <b-form-group label="Game ID">
          <b-form-input name="gameId" v-model="gameId"></b-form-input>
        </b-form-group>
        <b-alert id="error-display" show fade v-if="state.errorMessage" variant="danger"
          >Error: {{ state.errorMessage }}</b-alert
        >
        <b-button id="join-game-button" class="mb-2" @click="joinGame" variant="success">Join game</b-button>
        <b-button id="create-game-button" @click="createGame" variant="info"> Create game </b-button>
      </template>
      <template id="page-lobby" v-else-if="page === 'lobby'">
        <b-alert id="game-id-display" show>Game ID: {{ state.gameId }}</b-alert>
        <b-alert id="player-list-display" show>Players: {{ state.playerList }}</b-alert>
        <b-button id="start-game-button" class="mb-2" @click="startGame">Everybody's in!</b-button>
      </template>
      <template id="page-ingame" v-else-if="page === 'ingame'">
        <b-progress class="mb-2" :value="state.timeRemaining" :max="30" variant="info" show-value></b-progress>
        <template v-if="state.phase === 'DRAW'">
          <template v-if="state.isWaiting">
            <span>think about what you've done</span>
          </template>
          <template v-else>
            <b-alert id="prompt-display" show>Random prompt: {{ state.prompt }}</b-alert>
            <div key="easel" class="flex-grow-1 mb-2">
              <canvas id="easel" width="500" height="500"></canvas>
            </div>
            <b-button id="post" class="mb-2" @click="postDrawing" variant="success">Post</b-button>
          </template>
        </template>
        <template v-if="state.phase === 'CAPTION'">
          <template v-if="state.isWaiting">
            <span>that makes no sense, but ok</span>
          </template>
          <template v-else>
            <gallery></gallery>
            <b-form-group label="What is this?">
              <b-form-input v-model="caption"></b-form-input>
            </b-form-group>
            <b-button id="caption-button" class="mb-2" @click="postCaption" variant="primary">Submit</b-button>
          </template>
        </template>
        <template v-if="state.phase === 'GUESS'">
          <template v-if="state.isWaiting">
            <span>waiting for the other players to pick their caption</span>
          </template>
          <template v-else>
            <gallery></gallery>
            <b-list-group>
              <b-form-group label="What was the real prompt?">
                <b-list-group-item v-for="caption in state.captions" button @click="chooseCaption(caption)">
                  {{ caption.text }}
                </b-list-group-item>
              </b-form-group>
            </b-list-group>
          </template>
        </template>
        <template v-if="state.phase === 'REVEAL'">
          <gallery></gallery>
          <b-alert show variant="success"> The real prompt was: {{ state.realPrompt }} </b-alert>
        </template>
      </template>
      <b-button id="leave-game-button" v-if="state.gameId" @click="leaveGame" variant="danger">Leave game</b-button>
    </b-container>

    <script src="main.js"></script>
  </body>
</html>
