body {
  position: fixed;
}

[v-cloak] {
  display: none;
}

.canvas-container {
  border: 1px solid rgb(170, 170, 170);
}

.upper-canvas,
.lower-canvas {
  height: 100% !important;
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}
